{% extends 'base.html' %}  {% load static %} 

{% block content %}
<div class="container-fluid introduction" style="background-image: url('{% static "img/cover-photo.jpeg" %}'); background-repeat: no-repeat; background-position: 50% 50%;
    margin-top: 0px; "  >
    
  <h1 >Incredible clothing for Women</h1>
  <p style="color:white;font-size:20px; text-align:center; text-shadow: 2px 2px black;">Made and designed from the best material in Europe. <br><div ></p>


</div>
</div>
<div style="display: flex;
    align-items: center;
    justify-content: center; margin-top:-46px;">
<a href="{% url 'register' %}"><button type="button" class="btn  introduction-btn btn-lg" >Sign Up</button></a>
<br>
<a href="{% url 'new_stock' %}"><button type="button" class="btn  introduction-btn2 btn-lg" >New Stock</button></a>
</div>


<div style="height:100px;"></div>
<div class="container-fluid">
 <div class="row row-index-page" style="">
{% for product in productscoat %}
    <a href="{% url 'product' pk=product.pk %}" >
          <div class="col-sm-3" style="box-shadow: -1px 44px 48px -18px rgb(0 0 0 / 75%);width:340px; height:400px; margin-top:50px;">
              <img src="/static/img/brown-jacket.jpeg" alt="Lights" class="img-rounded" style="width:310px; height:350px;">
                      <p style="margin-left:5%; font-weight:bold; color:black;"><br>
                          {{ product.name }}
                              <span style="padding:20px;"></span>
                                <span style="font-weight:bold; color:#cc0099;"> $ {{ product.price }} </span>
                                    <span class="glyphicon glyphicon-heart" style="margin-left:5%;color:black;" ></span>
                                        <button  class="glyphicon glyphicon-shopping-cart" style="margin-left:10px; color:#cc0099;" ></button>
                              
                      </p>  
          </div>
{% endfor %}   

{% for product in productsdress %}
    <a href="{% url 'product' pk=product.pk %}" >
          <div class="col-sm-3" style="box-shadow: -1px 44px 48px -18px rgb(0 0 0 / 75%);width:340px; height:400px; margin-top:50px;">
              <img src="/static/img/red-dresss.jpeg" alt="Lights" class="img-rounded" style="width:310px; height:350px;">
                      <p style="margin-left:5%; font-weight:bold; color:black;"><br>
                          {{ product.name }}
                              <span style="padding:20px;"></span>
                                <span style="font-weight:bold; color:#cc0099;"> $ {{ product.price }} </span>
                                    <span class="glyphicon glyphicon-heart" style="margin-left:5%;color:black;" ></span>
                                        <button  class="glyphicon glyphicon-shopping-cart" style="margin-left:10px; color:#cc0099;" ></button>
                              
                      </p>  
          </div>
{% endfor %}
{% for product in productstops %}
    <a href="{% url 'product' pk=product.pk %}" >
          <div class="col-sm-3" style="box-shadow: -1px 44px 48px -18px rgb(0 0 0 / 75%);width:340px; height:400px; margin-top:50px;">
              <img src="/static/img/black-top2.jpeg" alt="Lights" class="img-rounded" style="width:310px; height:350px;">
                      <p style="margin-left:5%; font-weight:bold; color:black;"><br>
                          {{ product.name }}
                              <span style="padding:20px;"></span>
                                <span style="font-weight:bold; color:#cc0099;"> $ {{ product.price }} </span>
                                    <span class="glyphicon glyphicon-heart" style="margin-left:5%;color:black;" ></span>
                                        <button  class="glyphicon glyphicon-shopping-cart" style="margin-left:10px; color:#cc0099;" ></button>
                              
                      </p>  
          </div>
{% endfor %}   
</div>
</div>
<div style="height:100px;"></div>


{% endblock %}