{% extends 'base.html' %}  {% load static %} 

{% block content %}
<div class="container-fluid introduction" style="background-image: url('{% static "img/cover-photo.jpeg" %}'); background-repeat: no-repeat; background-position: 50% 50%;
    margin-top: 0px; "  >
    
  <h1 >Incredible clothing for Women</h3>
  <p style="color:white;font-size:20px; text-align:center; text-shadow: 2px 2px black;">Made and designed from the best material in Europe. <br><div ></p>


</div>
</div>
<div style="display: flex;
    align-items: center;
    justify-content: center; margin-top:-50px;">
<a href="{% url 'register' %}"><button type="button" class="btn  introduction-btn btn-lg" >Sign Up</button></a>
<br>
<a href="{% url 'new_stock' %}"><button type="button" class="btn  introduction-btn2 btn-lg" >New Stock</button></a>
</div>
<div style="height:50px; background: rgb(254,35,246);
background: linear-gradient(90deg, rgba(254,35,246,1) 41%, rgba(244,109,252,1) 77%, rgba(248,157,252,1) 100%);"></div>
<div style="background: rgb(254,35,246);
background: linear-gradient(90deg, rgba(254,35,246,1) 41%, rgba(244,109,252,1) 77%, rgba(248,157,252,1) 100%);">
<div class="container" >
  <h2>Dresses</h2>
  <div class="row">
    <div class="col-md-4">
     
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/flower-blue-dress.jpeg" alt="Lights" class="img-rounded" style="width:100%; height:370px;">
          <br>
         <p  class=" product-label white-font" ><span style="color:white!important;">Floral Blue Dress </span>
          
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" id="like_2" ng-click="count2 = count2 + 1"></span>
             </a>
             
             <button  class="glyphicon glyphicon-shopping-cart" id="like_1"  ng-click="count = count + 1"></button>
             
          <span style="margin-left:20%;color:black;" >$65</span>
          </p>
        </a>
      
    </div>
    <div class="col-md-4">
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/pink-dress.jpeg" alt="Nature" class="img-rounded" style="width:100%; height:370px;">
         <br>
         <p  class=" product-label white-font" ><span style="color:white!important;">Light Pink Dress </span> 
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
             
         
             <button class=" likebutton glyphicon glyphicon-shopping-cart" ng-click="count = count + 1"></button>
          
          <span style="margin-left:20%;color:black;" >$50</span>
          </p>
        </a>
        
    </div>
    <div class="col-md-4">
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/white-dress.jpeg" alt="Fjords" class="img-rounded" style="width:100%; height:370px;">
          <br>
         <p  class=" product-label white-font" ><span style="color:white!important;">White Rose Dress </span>
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
          
             <button  class="glyphicon glyphicon-shopping-cart"  ng-click="count = count + 1"></button>
          <span style="margin-left:20%;color:black;" >$68</span>
          </p>
        </a>
      
    </div>
  </div>
</div>
</div>

<div style="height:100px; background: rgb(254,35,246);
background: linear-gradient(90deg, rgba(254,35,246,1) 41%, rgba(244,109,252,1) 77%, rgba(248,157,252,1) 100%);"></div>

<div style="height:50px;"></div>
 <div class="container introduction" style="height:900px;">
  <h3>Jeans</h3>
  
  <div class="row">
    <div class="col-md-4" >
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/jeans1.jpeg" alt="Lights" class="img-rounded" style="width:100%; height:370px;">
         <br>
         <p  class=" product-label">Silk Blue Jeans 
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
          
             <button  class="glyphicon glyphicon-shopping-cart"  ng-click="count = count + 1"></button>
          <span style="margin-left:20%;">$55</span>
          </p>
        </a>
       
    </div>
    <div class="col-md-4 ">
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/jeans3.jpeg" alt="Nature" class="img-rounded" style="width:100%; height:370px;">
           <p  class=" product-label">Dark Blue Jeans 
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
          
             <button  class="glyphicon glyphicon-shopping-cart"  ng-click="count = count + 1"></button>
          <span style="margin-left:20%;">$45</span>
          </p>
        </a>
      
    </div>
    <div class="col-md-4 hide-on-mobile">
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/short-blue-jeans.jpeg" alt="Fjords" class="img-rounded" style="width:100%; height:370px;">
           <p  class=" product-label">Classic Blue Jeans 
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
          
             <button  class="glyphicon glyphicon-shopping-cart"  ng-click="count = count + 1"></button>
          <span style="margin-left:20%;">$40</span>
          </p>
        </a>
      
    </div>
  
  </div>
</div>   
<br><br>
    <div class="container-fluid jeans-section hide-on-mobile">
    
    <h5 style="color:white; text-align:center; font-size:30px; margin-top:35px;">Made in Europe</h5>
    <br><p style="color:white; text-align:center; font-size:20px; margin-top:25px;">High quality women's clothing line made from the finest material in France and Italy.</p>
    <p style="color:white; text-align:center; font-size:20px; margin-top:25px;">The comfort of the clothing is exceptional and durability is of the highest standard</p>
    <p style="color:white; text-align:center; font-size:20px; margin-top:25px;">High class Style, Make and Comfort fashion clothing</p>
    </div>
<div style=" background: rgb(254,35,246);
background: linear-gradient(90deg, rgba(254,35,246,1) 41%, rgba(244,109,252,1) 77%, rgba(248,157,252,1) 100%);">
<div style="height:100px; background: rgb(254,35,246);
background: linear-gradient(90deg, rgba(254,35,246,1) 41%, rgba(244,109,252,1) 77%, rgba(248,157,252,1) 100%);"></div>
<div class="container" style="background: rgb(254,35,246);
background: linear-gradient(90deg, rgba(254,35,246,1) 41%, rgba(244,109,252,1) 77%, rgba(248,157,252,1) 100%);">
<div style="height:0px;"></div>
  
  <div class="row " >
  <h2>Coats/Jackets</h2>
    <div class="col-md-4">
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/coat1.jpeg" alt="Lights" class="img-rounded" style="width:100%; height:370px;">
          <br>
         <p  class=" product-label white-font" ><span style="color:white!important;">Box Striped Coat </span>
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
          
             <button  class="glyphicon glyphicon-shopping-cart"  ng-click="count = count + 1"></button>
          <span style="margin-left:20%; color:black;" >$90</span>
          </p>
        </a>
      
    </div>
    <div class="col-md-4">
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/red-coat.jpeg" alt="Nature" class="img-rounded" style="width:100%; height:370px;">
          <br>
         <p  class=" product-label white-font" ><span style="color:white!important;">Dark Red Coat </span> 
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
          
             <button  class="glyphicon glyphicon-shopping-cart"  ng-click="count = count + 1"></button>
          <span style="margin-left:20%;color:black;" >$70</span>
          </p>
        </a>
      
    </div>
    <div class="col-md-4">
      
        <a href="{% url 'product' %}" target="_blank">
          <img src="static/img/pink-coat.jpeg" alt="Fjords" class="img-rounded" style="width:100%; height:370px;">
          <br>
        <p  class=" product-label white-font" ><span style="color:white!important;">Baileys Cream Coat </span> 
             <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
             <span class="glyphicon glyphicon-heart" style="color:black;" ng-click="count2 = count2 + 1"></span>
             </a>
          
             <button  class="glyphicon glyphicon-shopping-cart"  ng-click="count = count + 1"></button>
          <span style="margin-left:20%; color:black;" >$105</span>
          </p>
        </a>
      
    </div>
  </div>
</div>
</div>
  <div style="height:200px;background: rgb(254,35,246);
background: linear-gradient(90deg, rgba(254,35,246,1) 41%, rgba(244,109,252,1) 77%, rgba(248,157,252,1) 100%); " ></div>  





{% endblock %}