{% extends 'base.html' %}  {% load static %} 
{% block content %}

<div style="height:50px;"></div>
<div class="row">
{% for product in products %}
    <a href="{% url 'product' pk=product.pk %}" >
          <div class="col-sm-3" style="box-shadow: -1px 44px 48px -18px rgb(0 0 0 / 75%);width:370px; height:400px; margin-top:50px;">
              <img src="/static/img/pic-10.png" alt="Lights" class="img-rounded" style="width:350px; height:350px;">
                      <p style="margin-left:5%; font-weight:bold; color:black;"><br>
                          {{ product.name }}
                              <span style="padding:20px;"></span>
                                 $ {{ product.price }} 
                                    <span class="glyphicon glyphicon-heart" style="margin-left:25%;color:#cc0099;" ></span>
                                        <button  class="glyphicon glyphicon-shopping-cart" style="margin-left:10px; color:blue;" ></button>
                              
                      </p>  
          </div>
{% endfor %}   
</div>

<div style="height:50px;"></div>
{% endblock %}



