{% extends 'base.html' %}  {% load static %} 
{% block content %}
<div class="container" >
  <h2 style="color:black; text-shadow:2px 2px white;">Dresses</h2>
    <div class="row">
      <div class="col-md-4">
        <a href="{% url 'product' %}" target="_blank">
          <img src="/static/img/pic-13.png" id="seven"  alt="Lights" class="img-rounded" style="width:100%; height:370px;">
            <p  class=" product-label">Floral Blue Dress 
              <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
                <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
              </a>
                <button  class="glyphicon glyphicon-shopping-cart"  ></button>
                <span style="margin-left:20%;">$65</span>
            </p>
        </a> 
      </div>

    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-14.png" id="eight" alt="Nature" class="img-rounded" style="width:100%; height:370px;">
          <p  class=" product-label">Light Pink Dress 
            <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
              <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
            </a>
              <button  class="glyphicon glyphicon-shopping-cart"  ></button>
                <span style="margin-left:20%;">$65</span>
          </p>
      </a>  
    </div>

    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-15.png" id="nine" alt="Fjords" class="img-rounded" style="width:100%; height:370px;">
          <p  class=" product-label">White Rose Dress 
            <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
              <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
            </a>
              <button  class="glyphicon glyphicon-shopping-cart"  ></button>
              <span style="margin-left:20%;">$65</span>
          </p>
      </a> 
    </div>
  </div>
</div>
</div>

<div style="height:50px;"></div>

<div class="container" >
  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-16.png" id="ten" alt="Lights" class="img-rounded" style="width:100%; height:370px;">
          <p  class=" product-label">Pink Rose Dress
            <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
              <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
            </a>
              <button  class="glyphicon glyphicon-shopping-cart"  ></button>
              <span style="margin-left:20%;">$65</span>
          </p>
      </a>
  </div>

    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-17.png" id="eleven"  alt="Nature" class="img-rounded" style="width:100%; height:370px;">
          <p  class=" product-label">Red Dress 
            <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
              <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
            </a>
              <button  class="glyphicon glyphicon-shopping-cart"  ></button>
              <span style="margin-left:20%;">$65</span>
          </p>
      </a> 
    </div>

    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-18.png" id="twelve" alt="Fjords" class="img-rounded" style="width:100%; height:370px;">
          <p  class=" product-label">Pink Silk Dress 
            <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
              <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
            </a>
              <button  class="glyphicon glyphicon-shopping-cart"  ></button>
              <span style="margin-left:20%;">$65</span>
          </p>
      </a>  
    </div>
  </div>
</div>
</div>


<div style="height:50px;"></div>

<div class="container" >
  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-1.png" id="thirteen" alt="Lights" class="img-rounded" style="width:100%; height:370px;">
          <div style="height:50px; ">
            <p class=" product-label">Black Floral Dress 
              <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
                <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
              </a>
                <button  class="glyphicon glyphicon-shopping-cart"  ></button>
                <span style="margin-left:20%;">$65</span>
            </p>
          </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-3.png" id="fourteen" alt="Nature" class="img-rounded" style="width:100%; height:370px;">
          <p  class=" product-label">Red Dress 
            <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
              <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
            </a>
              <button  class="glyphicon glyphicon-shopping-cart"  ></button>
              <span style="margin-left:20%;">$65</span>
          </p>
      </a> 
    </div>

    <div class="col-md-4">
      <a href="{% url 'product' %}" target="_blank">
        <img src="/static/img/pic-4.png" id="fifteen"  alt="Fjords" class="img-rounded" style="width:100%; height:370px;">
          <p  class=" product-label">White Dress 
            <a href="#"   class="btn btn-info btn-lg shop-icon heart-black-icon" style="background-color:white;">
              <span class="glyphicon glyphicon-heart" style="color:black;" ></span>
            </a>
              <button  class="glyphicon glyphicon-shopping-cart" ></button>
              <span style="margin-left:20%;">$65</span>
          </p>
      </a>
    </div>
  </div>
</div>
</div>

<div style="height:50px;"></div>
{% endblock %}