{% extends 'base.html' %}  {% load static %} 
{% block content %}
<div class="container " style="
    justify-content: center;
    align-items: center;">
    <br>
<p class="login-paragragh"> Please signup and login before purchasing a product or saving a product on your cart</p>
<br>
<p class="login-paragragh"> Thank you for your consideration </p>
</div>
<div class="container " style="height:600px;display: flex;
    justify-content: center;
    align-items: center;" ng-non-bindable>

<div class="col-6" style="margin-top:-250px;">

<h1 class="login-h1" style="color:#bd02ac; padding:10px;text-shadow:2px 2px white; border-bottom: 1px solid black;">Login</h1>
<br><br>

<form method="post"  class="the_login_form" >
  {% csrf_token %}
  {{ user_form }}
  <br>
  <button type="submit" style="background: rgb(231,2,221);
    background: linear-gradient(90deg, rgba(231,2,221,1) 23%, rgba(254,96,239,1) 58%, rgba(255,0,254,1) 100%);width:70px;height:40px; color:white;">Login</button>
</form>
</div>
</div>
{% endblock %}