{% extends 'base.html' %}  {% load static %} 

{% block content %}

<h1 style="color:black; text-shadow:2px 2px white;">About Us</h1>

   <div class="well text-center" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <div class="col-md-12"></div>
    <div class="row">
        <div class="col-md-6">
        <div style="height:70px;"></div>
        <h2>Your Account Information</h2>
        <div style="height:50px;"></div>
            <p class="profile-paragraph">
            </p>
        </div>
        <div class="col-md-6" style="background: rgb(6,6,6);
background: linear-gradient(90deg, rgba(6,6,6,1) 33%, rgba(66,66,66,1) 63%, rgba(105,106,106,1) 100%);">
            <div style="height:70px;"></div>
        <h2>Billing Information</h2>
        <div style="height:50px;"></div>
            <p class="profile-paragraph">
            </p>
        </div>
    </div>
</div>
</div>

{% endblock %}