{% extends 'base.html' %}  {% load static %} 
{% block content %}
<h1 style="color:black; text-shadow:2px 2px white;">Our Designs</h1>

   <div class="well text-center" style="background: rgb(254,97,249);
background: linear-gradient(90deg, rgba(254,97,249,1) 0%, rgba(249,156,246,1) 35%, rgba(250,207,249,1) 100%);">
    <div class="col-md-12"></div>
    <div class="row">
        <div class="col-md-6">
        <div style="height:70px;"></div>
        <h2>We have amazing designers within our team </h2>
        <div style="height:50px;"></div>
            <p>Our designers are of the highest standard when it comes to designing close to meet the needs of our customers
            <br><br> They are constantly trying to find exciting, bold and stunning designs by research and going to fashion shows right across europe
            <br>It's this level of commited and excellence that makes our design and product high quality.</p>
        </div>
        <div class="col-md-6">
            <a href="#"><img src="/static/img/designer.jpeg"  style="height:400px; width:100%;" alt="ccs_logo"></a>
        </div>
    </div>
</div>
</div>

{% endblock %}