{% extends 'base.html' %}  {% load static %} 
{% block content %}
<h1 style="color:black; text-shadow:2px 2px white;">Our Materials</h1>

   <div class="well text-center" style="background: rgb(254,97,249);
background: linear-gradient(90deg, rgba(254,97,249,1) 0%, rgba(249,156,246,1) 35%, rgba(250,207,249,1) 100%);">
    <div class="col-md-12"></div>
    <div class="row">
        <div class="col-md-6">
        <div style="height:70px;"></div>
        <h2>We have the best material from Europe </h2>
        <div style="height:50px;"></div>
            <p>We source the best clothing material from southern Italy because we want our clothes to last a long time and be comfortable.
            <br><br>Our team of designers are constantly trying out new clothing material and finding ways to push the boundaries in womens fashion.
            <br>We strive to provide quality and stunning clothing line to our customers.</p>
        </div>
        <div class="col-md-6">
            <a href="#"><img src="/static/img/sewing-machine.png"  style="height:400px; width:100%;" alt="ccs_logo"></a>
        </div>
    </div>
</div>
</div>

{% endblock %}