{% extends 'base.html' %}  {% load static %} 
{% block content %}
<h1 style="color:black; text-shadow:2px 2px white;">Whats Trending Now</h1>

   <div class="well text-center" style="background: rgb(254,97,249);
background: linear-gradient(90deg, rgba(254,97,249,1) 0%, rgba(249,156,246,1) 35%, rgba(250,207,249,1) 100%);">
    
    <div class="row">
        <div class="col-md-6">
        
            <a href="#"><img src="/static/img/beauty-leather-style-girl.jpeg"  style="height:400px; width:300px;" alt="ccs_logo"></a>
        </div>
        <div class="col-md-6">
        
            <a href="#"><img src="/static/img/white-floral-dress.jpeg"  style="height:400px; width:300px;" alt="ccs_logo"></a>
        </div>
        <div class="col-md-6">
        
            <a href="#"><img src="/static/img/grey-dress.jpeg"  style="height:400px; width:300px;" alt="ccs_logo"></a>
        </div>
        <div class="col-md-6">
        
            <a href="#"><img src="/static/img/dotted-dress.jpeg"  style="height:400px; width:300px;" alt="ccs_logo"></a>
        </div>
    </div>
</div>
</div>

{% endblock %}