h2{
    text-shadow: 2px 2px black;
  }
  @media only screen and (max-width: 400px){
  .hide-on-mobile{
  visibility: hidden;
  }
  p.product-font{
    font-size: 40px;
    color: black;
    margin-top: 30px;
  }
  }
  
  select{
    font-family: inherit;
    font-size: large;
    line-height: inherit;
}
@media only screen and (min-width: 900px){
.img-rounded:hover {
  transform: scale(1.1); 
}
}
  div.bck-color{
      height:70px;
     
  }
p.product-font{
  font-size: 40px;
  color: black;
  
}
p.login-paragragh{
text-align:center;
}
p.profile-paragraph{
  color: white;
}

.btn-info:hover {
  color: #fff;
  
  border-color: #fcfcfc00;
}

  div.col-md-4{
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: -1px 44px 48px -18px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 44px 48px -18px rgba(0,0,0,0.75);
box-shadow: -1px 44px 48px -18px rgba(0,0,0,0.75);
height:450px;
  }

p.white-text{
  color:white;
}

p.product-label{
  font-size:15px;
  font-weight: 600;
  color:black;
}

  
  .introduction-btn{
    background-color:  rgba(254,96,239,1);
    color:white;
    width:150px;
  }
  .introduction-btn2{
    background-color: black;
    color:white;
    
    width:150px;
  }
  .navbar-inverse .navbar-form {
      border-color:  rgba(194, 1, 188, 0);
      background-color: rgba(194, 1, 188, 0);
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background-color: #fd4dfd;
  
  }
  footer{
     background-color:black; 
  }
  div.bck-color{
    background: rgb(231,2,221);
background: linear-gradient(90deg, rgba(231,2,221,1) 23%, rgba(254,96,239,1) 58%, rgba(255,0,254,1) 100%);
      
  }
  .navbar-inverse .navbar-nav>li>a{
      color:blue;
  }

  .below-navbar{
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 23%, rgba(102,101,102,1) 58%, rgba(171,171,171,1) 100%);
    height:60px;
    margin-top: 20px;
  }
  .jeans-section{
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 23%, rgba(102,101,102,1) 58%, rgba(171,171,171,1) 100%);
    height:350px;
    margin-top: -350px;
  }
  .navbar-inverse {
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 23%, rgba(102,101,102,1) 58%, rgba(171,171,171,1) 100%);
    z-index: 99!important;
      border-radius:0;
  }

  .row-about {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column-about {
    flex: 50%;
    padding: 5px;
    
  }
  .btn-lg {
      
      border-radius: 0px;
  }
  .white-font{
      color:white!important;
  }
  .navbar {
      position: relative;
      height:10px;
      margin-bottom: 20px;
      border: 0px; 
     
  }
  button.glyphicon-shopping-cart{
background-color: rgba(255, 255, 255, 0);
border-color: rgba(255, 222, 173, 0);
  }
  h2{
    color:white;
  }
  div.introduction{
  height:700px;
  }
  
  h6{
    color:#f89dfc;
  }
  
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgb(231,2,221);
    background: linear-gradient(90deg, rgba(231,2,221,1) 23%, rgba(254,96,239,1) 58%, rgba(255,0,254,1) 100%);
  }
  .navbar-inverse .navbar-toggle .icon-bar {
      background-color: white;
  }
  .navbar-inverse .navbar-nav>li>a {
      color: white;
      font-family:Florence;
      background-color: rgba(194, 1, 188, 0);

  }
  
  .btn-info {
      color: #fff;
      background-color:  rgba(255,255,255,0)!important;
     border-color: rgba(255, 255, 255, 0);
  }
  
  h1{
    color:white; 
    font-size:40px;
    text-align:center; 
    text-shadow: 2px 2px black;
    margin-top:10%;
  }
#id_credit_card_num{
    display:block;
    font-size: x-large;
}

#id_expiry_year{
    display:block;
    font-size: x-large;
}

#id_expiry_month{
    display:block;
    font-size: x-large;
}
#id_price{
    display:block;
    font-size: x-large;
}
#id_cvv{
    display:block;
    font-size: x-large;
}
#id_email_or_username{
    display:block;
    font-size: x-large;
}
#id_password{
    display:block;
    font-size: x-large;
}
#id_username{
    display:block;
    font-size: x-large;
}
#id_email{
    display:block;
    font-size: x-large;
}
#id_password1{
    display:block;
    font-size: x-large;
}
#id_password2{
    display:block;
    font-size: x-large;
    
}
h1.login-h1{

font-size:30px;
}

